<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Погода</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <style>
        #suggestions {
            border: 1px solid #ccc;
            max-height: 150px;
            overflow-y: auto;
            width: 300px;
            margin-top: 5px;
            background-color: white;
        }

        .suggestion-item {
            padding: 5px 10px;
            cursor: pointer;
        }

        .suggestion-item:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">Погодный сервис</div>
    </header>
    <nav>
        <a href="/">Главная</a>
        <a href="/api/history">История</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
    <script src="{{ url_for('static', path='/autocomplete.js') }}"></script>
</body>
</html>